<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Digital Monitoring | DigiMon </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<<<<<<< HEAD
 <body class="home">
    <div id="interface">
		<div id="header">
			<div class="main">
				<ul class="menu" id="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">Sobre</a></li>
					<li><a href="#">Contato </a></li>
					<li><a href="#">Registre-se</a></li> 
					<li><a href="#">Login</a></li>
					</ul>
                    </div>
            </div>

    @RenderBody()

        <div id="clear"></div>	
		<div id="rodape">
=======
<body class="insideSystem">
         <div id="interface">
          <div id="header">
            <div class="main">
                <a href="http://www.projetodigimon.com.br/ui005home.jsp"><img src="../../Content/themes/base/images/logoo.png" class="logo" id="logoo" alt="Logo" /></a>
                <ul class="menu" id="menu">
                    <li><a href="http://www.projetodigimon.com.br/ui005home.jsp">Home</a></li>
                    <li>
                        <a href="#">Transportador<img src="../../Content/themes/base/images/seta.png" class="seta" alt="Opções de transportador" /></a>
                        <ul>
                            <li>
                                <a href="#">Frete<img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Frete" /></a>
                                <!--Criação da class submenu-->
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Cadastrar Frete","ui006cadastrarfrete","Frete")</li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Veículo <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Veículo" /></a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Cadastrar Veículo","ui008cadastrarveiculo","Veiculo")</li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Motorista <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Motorista" /></a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Cadastrar Motorista","ui020cadastrarmotorista","Motorista")</li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Antt / Dnit <img src="../../Content/themes/base/images/seta.png" class="seta" alt="Opções de Órgão" /></a>
                        <ul>
                            <li>
                                <a href="#">Posto de Pesagem<img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Posto" /></a>
                                <ul class="submenu">
                                    <li><a href="http://www.projetodigimon.com.br/ui018cadastrarposto.jsp">Cadastrar</a></li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Rodovia <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Rodovia" /></a>
                                <ul class="submenu">
                                    <li><a href="http://www.projetodigimon.com.br/Rodovia/ui014cadastrarrodovia.jsp">Cadastrar </a></li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Transportador <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Transportador" /></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">TAC<img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Câmera" /></a>
                                        <ul class="submenu">
                                            <li>@Html.ActionLink("Cadastrar TAC","ui004casdastrartransportadoraut","TransportadorAut")</li>
                                            <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#">ETC/CTC<img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Câmera" /></a>
                                        <ul class="submenu">
                                            <li>@Html.ActionLink("Cadastrar ETC/CTC","ui010cadastrartransportadorjur","TransportadorJur")</li>
                                            <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Câmera <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Câmera" /></a>
                                <ul class="submenu">
                                    <li><a href="http://www.projetodigimon.com.br/ui026cadastrarcamera.jsp">Cadastrar </a></li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Balança <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Balança" /></a>
                                <ul class="submenu">
                                    <li><a href="http://www.projetodigimon.com.br/ui016cadastrarbalanca.jsp">Cadastrar </a></li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Posto de Pesagem <img src="../../Content/themes/base/images/seta.png" class="seta" alt="Opções de Pesagem" /></a>
                        <ul>
                            <li>
                                <a href="#">Pesagem <img src="../../Content/themes/base/images/setad.png" class="setad" alt="Opções de Pesagem" /></a>
                                <ul class="submenu">
                                    <li><a href="http://www.projetodigimon.com.br/Pesagem/ui024cadastrarpesagem.jsp">Registrar </a></li>
                                    <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Relatório <img src="../../Content/themes/base/images/seta.png" class="seta" alt="Opções de Relatório" /></a>
                        <ul>
                            <li>@Html.ActionLink("Emitir Relatório","ui030relatorio","Relatorio")</li>               
                        </ul>
                    </li>
                    <li>
                        <a href="#">Usuário<img src="../../Content/themes/base/images/seta.png" class="seta" alt="Opções de Usuário" /></a>
                        <ul>
                            <li>@Html.ActionLink("Cadastrar Usuário","ui012cadastrarusuario","Usuario")</li>
                            <li><a href="http://www.projetodigimon.com.br/ui029pesquisa.jsp">Consultar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Ajuda<img src="../../Content/themes/base/images/seta.png" class="seta" alt="Opções de Ajuda" /></a>
                        <ul>
                            <li>@Html.ActionLink("Fale Conosco","ui034faleconosco","Ajuda")</li>
                            <li>@Html.ActionLink("FAQ","ui033faq","Ajuda")</li>
                        </ul>
                    </li>
                    <!--Aqui tem uma ul diferente-->
                    <li>
                        <img src="../../Content/themes/base/images/iconeMenu.png" class="iconeMenu" alt="Menu do Usuário" />
                        <ul id="last">
                            <li>@Html.ActionLink("Minha Conta","ui032minhaconta","Conta")</li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                        <!--aqui termina a ul do botao sair e minha conta-->
                    </li>
                </ul>
            </div>
            <div id="darkBox"></div>
        </div><!-- Fim da div header -->
    @RenderBody()
        <div id="rodape">
>>>>>>> 198b3100af11047a8ce6896584449c6f4b87af41
			<div class="main">
				<div id="footer">
					&copy 2015 - Projeto Digimon | Forsoft Rio
				</div><!--Fim div Footer-->
			</div><!--Fim div main do rodape-->
		</div><!--Fim div "rodape"-->
	</div><!--Fim div Interface-->
<<<<<<< HEAD

=======
>>>>>>> 198b3100af11047a8ce6896584449c6f4b87af41
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
